@use "../../styles/variables" as *;

.forecastDisplay {
  display: flex;
  flex-direction: column;

  p {
    font-size: $fs_xs;
  }
}
.forecastList {
  font-size: $fs_xxs;
  gap: 12px;

  @media screen and (min-width: 901px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
.forecastItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  margin: 6px 0 0;
  border-radius: 6px;
  outline: 1px dashed $grayscale_300;
  outline-offset: -1px;

  :nth-child(1) {
    margin-top: 0; // No need for additional margin
  }

  :nth-child(2) {
    font-weight: $fw_600;
    font-size: $fs_md;
  }

  @media screen and (min-width: 901px) {
    margin: 0; // Reset margin in larger screens
    gap: 16px; // Specify gap in larger screens if needed
  }
}
.appHeader {
  h1 {
    font-size: $fs_md;
    margin: 0 0 2px;
    padding: 0;
  }
  p {
    margin: 0 0 12px;
    font-size: $fs_xs;
    padding: 0;
  }
}