$grayscale_50: #FAFAFA;
$grayscale_100: #F4F4F5;
$grayscale_200: #E4E4E7;
$grayscale_300: #D4D4D8;
$grayscale_400: #A1A1AA;
$grayscale_500: #71717A;
$grayscale_600: #52525B;
$grayscale_700: #3F3F46;
$grayscale_800: #27272A;
$grayscale_900: #18181B;
$grayscale_950: #09090B;

// $primary: "";
// $secondary: "";

