$grayscale_50: #f8f9fa;
$grayscale_100: #fcfbfb;
$grayscale_200: #e9ecef;
$grayscale_300: #dee2e6;
$grayscale_400: #ced4da;
$grayscale_500: #adb5bd;
$grayscale_600: #6c757d;
$grayscale_700: #495057;
// $grayscale_800: #27272A;
// $grayscale_900: #18181B;
// $grayscale_950: #09090B;

// $primary: "";
// $secondary: "";
