// $grayscale_100: "";
// $grayscale_200: "";
// $grayscale_300: "";
// $grayscale_400: "";
// $grayscale_500: "";
// $grayscale_600: "";
// $grayscale_700: "";
// $grayscale_800: "";
// $grayscale_900: "";
// $grayscale_950: "";

// $primary: "";
// $secondary: "";

$grey-100: "#ffffff";
$grey-200: "#fff";
$grey-300: "#fff";
$grey-400: "#fff";
$grey-500: "#fff";
$grey-600: "#fff";
$grey-700: "#fff";
$grey-800: "#fff";
$grey-900: "#fff";
