// Colors
$grayscale_50: #f8f9fa;
$grayscale_100: #fcfbfb;
$grayscale_200: #e9ecef;
$grayscale_300: #dee2e6;
$grayscale_400: #ced4da;
$grayscale_500: #adb5bd;
$grayscale_600: #6c757d;
$grayscale_700: #495057;
// $grayscale_800: #27272A;
// $grayscale_900: #18181B;
// $grayscale_950: #09090B;

// Typography
$fs_xxs: 11.1px;
$fs_xs: 13.3px;
$fs_base: 16px;
$fs_md: 19.2px;
$fs_lg: 23px;
$fs_xl: 27.6px;

$fw_400: 400;
$fw_600: 600;
$fw_800: 800;