@use "../../styles/variables" as *;

.weatherDetails {
  display: flex;
  flex-direction: column;
  gap: 6px; // Space between items
  justify-content: center;
}

.detailsItem {
  border: 1px solid $grayscale_400;
  border-radius: 8px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-size: $fs_xs;
  font-weight: $fw_600;
}

.detailsItemHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px; // Adjusted for both header and paragraph elements
  
  .value {
    padding: 4px;
  }
}

.appHeader {
  h1 {
    font-size: $fs_md;
    margin: 0 0 2px;
    padding: 0;
  }
  p {
    margin: 0 0 12px;
    font-size: $fs_xs;
    padding: 0;
  }
}