@import "./styles/colors";
@import "/src/styles/typography";

.app {
  border-radius: 0.75rem;
  padding: 12px;
  width: 312px;
  background-color: $grayscale_100;
  box-shadow: 0 4px 24px rgba(43, 43, 43, 0.25);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.app_header {
  h1 {
    font-size: $fs_md;
    margin: 0 0 2px; // Combine margins
    padding: 0;
  }

  p {
    margin: 0 0 12px; // Combine margins
    font-size: $fs_xs;
    padding: 0;
  }
}

.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    padding-left: 0.5rem;
    margin: 0 0 24px; // Combine margins
    height: 42px;
    width: 100%;
    border: 2px solid $grayscale_400;
    border-radius: 6px;
    background-color: $grayscale_100;
    box-sizing: border-box;
  }
}

.weather-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 4px;

  /* Specific styles for weather icon and location can be separated here if needed */
}

.weather-icon {
  img {
    width: 300px; // Removed unnecessary properties
  }
}

.weather-location {
  h2 {
    font-size: $fs_md;
    font-weight: $fw_600;
  }

  .temp {
    display: flex;
    justify-content: start;
    gap: 6px;
    margin-top: 6px;
    border-radius: 6px;
    padding: 8px 0;
    background-color: $grayscale_100;
    font-weight: $fw_600;
    font-size: $fs_xl;
  }

  p {
    font-size: $fs_xs;
  }
}

/* Desktop styles (min-width: 901px) */
@media screen and (min-width: 901px) {
  .app {
    width: auto; // Keep column layout for wider screens
  }

  .weather-details {
    flex-direction: column; // Ensure column direction
  }

  .weather-data {
    justify-content: space-evenly; // Evenly distribute items
  }
}
