@use "./styles/variables" as *;

.app {
  position: relative;
  left: 50%;
  max-width: 53vh;
  transform: translateX(-50%) translateY(1%);
  border-radius: 0.75rem;
  padding: 24px;
  background-color: $grayscale_100;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid $grayscale_300;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    font-weight: $fw_600;
    font-size: $fs_md;
    margin: 0;
  }
  p {
    font-size: $fs_xs;
    margin-bottom: 12px;
  }
  input {
    padding-left: 0.5rem;
    margin: 0 0 24px;
    height: 42px;
    width: 100%;
    border: 2px solid $grayscale_400;
    border-radius: 6px;
    background-color: $grayscale_100;
    box-sizing: border-box;
  }
}
.weatherData {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 48px;
  border-radius: 8px;
  padding: 4px;
  padding-top: 24px;
}
.weatherIcon {
  img {
    width: 125px;
    height: auto;
  }
}
.weatherLocation {
  h2 {
    font-size: $fs_md;
    font-weight: $fw_600;
  }
  .temp {
    display: flex;
    justify-content: start;
    gap: 6px;
    margin-top: 6px;
    border-radius: 6px;
    padding: 8px 0;
    background-color: $grayscale_100;
    font-weight: $fw_600;
    font-size: $fs_xl;
  }
  p {
    font-size: $fs_xs;
  }
}

@media screen and (max-width: 901px) {
  .app {
    transform: translateX(0%) translateX(0%);
    max-width: 100vw;
    border: none;
    left: 0%;
    width: auto;
  }
  .weather-details {
    flex-direction: column;
  }
  .weather-data {
    justify-content: space-evenly;
  }
}

// Is there a better way to style multiple similiar elements?
.app_header {
  h1 {
    font-size: $fs_md;
    margin: 0 0 2px;
    padding: 0;
  }
  p {
    margin: 0 0 12px;
    font-size: $fs_xs;
    padding: 0;
  }
}
