@import "./styles/typography";
@import "./styles/colors";

@import "./components/WeatherIcon/WeatherIcon";
@import "./components/WeatherDetails/WeatherDetails";
@import "./components/ForecastDisplay/ForecastDisplay";

// Global Styles
* {
  font-family: "Inter", sans-serif;
}

body,
html {
  touch-action: manipulation; // Disables double-tap zoom
  overscroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $fs_md;
}
