@import "./styles/typography";
@import "./styles/colors";

@import "./components/WeatherIcon/WeatherIcon";
@import "./components/ForecastDisplay/ForecastDisplay";

* {
  font-family: "Inter", sans-serif;
}
body,
html {
  touch-action: manipulation; /* Disables double-tap zoom */
  overscroll-behavior: contain;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

// body {
//   display: flex;
//   justify-content: center;
//   height: 100vh;
//   align-items: center;
// }
