@import "./styles/typography";
@import "./styles/colors";

@import "./components/WeatherIcon/WeatherIcon";
@import "./components/WeatherDetails/WeatherDetails";
@import "./components/ForecastDisplay/ForecastDisplay";

// Global Styles
* {
  font-family: "Inter", sans-serif;
}

body,
html {
  touch-action: manipulation; // Disables double-tap zoom
  overscroll-behavior: none;
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $fs_md;
}
